[package]
name = "game-of-life"
version = "0.1.0"
edition = "2021"
description = "Demo WAPP application - Conway's Game of Life"

[lib]
crate-type = ["cdylib"]

[profile.release]
opt-level = "s"
lto = true
